/*****************************************************
0: Read Me (Remove this section):
******************************************************/
/*

If you are looking to style your forms with your own design, you've come to the right place.
This Blank Theme has all the selectors you need to style Quform. We have left in the styles that you are most likely
to use. Most colors, font sizes, borders etc are left blank - please fill them in or remove them. We have kept in a few things that
you might not be fussed about changing, like error messages, close buttons etc.

Remember to change the names of the files; see the help doc for more info:  > Styling forms > Creating a new theme.

You can donate or sell your theme if you like. Get in touch with us if this interests you.

 -- TC

*/

/*****************************************************
1: Form heading and description
******************************************************/
/*Set global fonts*/
.quform-theme-custom-custom {
	color: #000;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
/*Form Heading*/
.quform-theme-custom-custom h3.quform-title {
	color: #000;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
/*Form description*/
.quform-theme-custom-custom p.quform-description {
	color: #000;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*****************************************************
2: Elements and labels
******************************************************/

/*Required - this is the text that is used to indicate a required field*/
.quform-theme-custom-custom .quform-element label span.quform-required {
    color: #000;
}
/*Element description*/
.quform-theme-custom-custom .quform-element p.quform-description {
	color: ;
}
/*Default state input, selects and textareas*/
.quform-theme-custom-custom .quform-elements .quform-element-text input,
.quform-theme-custom-custom .quform-elements .quform-element-captcha input,
.quform-theme-custom-custom .quform-elements .quform-element-password input,
.quform-theme-custom-custom .quform-elements .quform-element select,
.quform-theme-custom-custom .quform-elements .quform-element textarea {
	color: ;
	border: ;
	padding: 0 0 0 14px;
	background: ;
    height: 38px;
    border-radius: 0;
}

.quform-theme-custom-custom .quform-elements .quform-element textarea {
	padding: 14px;
	height: 140px;
}

.quform-theme-custom-custom .quform-elements .quform-element-captcha input {
	border-radius: 0;
	height: 34px;
	opacity: 1;
	width: 100%;
}

.quform-captcha {
	margin-top: -20px;
}

.quform-theme-custom-custom .quform-elements .quform-element select {padding: 1px;}
/*Fix Chrome select (no background image sorry!) Add a background color if you use a BG image for Select*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.quform-theme-blank-new .quform-elements .quform-element select {background: ;}
}
/*Hover element*/
.quform-theme-custom-custom .quform-elements .quform-element-text input:hover,
.quform-theme-custom-custom .quform-elements .quform-element-captcha input:hover,
.quform-theme-custom-custom .quform-elements .quform-element-password input:hover,
.quform-theme-custom-custom .quform-elements .quform-element select:hover,
.quform-theme-custom-custom .quform-elements .quform-element textarea:hover {

}
/*Active element*/
.quform-theme-custom-custom .quform-elements .quform-element-text input:active,
.quform-theme-custom-custom .quform-elements .quform-element-captcha input:active,
.quform-theme-custom-custom .quform-elements .quform-element-password input:active,
.quform-theme-custom-custom .quform-elements .quform-element select:active,
.quform-theme-custom-custom .quform-elements .quform-element textarea:active {

}
/*Focused element*/
.quform-theme-custom-custom .quform-elements .quform-element-text input:focus,
.quform-theme-custom-custom .quform-elements .quform-element-captcha input:focus,
.quform-theme-custom-custom .quform-elements .quform-element-password input:focus,
.quform-theme-custom-custom .quform-elements .quform-element select:focus,
.quform-theme-custom-custom .quform-elements .quform-element textarea:focus {
color: #fff;
}
/*Fix Chrome select (no background image sorry!) Add a background color if you use a BG image for Select */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.quform-theme-custom-custom .quform-elements .quform-element select {background: ;}
}

/* Default Label*/
.quform-theme-custom-custom .quform-element > .quform-spacer > label {
	color: ;
}
/*Tooltip icon*/
.quform-theme-custom-custom .quform-tooltip-icon {
	background: url(images/help-icon-light.png) no-repeat 0 0;
}
/*Select options*/
.quform-theme-custom-custom select option {
    padding-right: 10px;
}
.quform-theme-custom-custom select[multiple="multiple"] option {
    padding: 0 5px;
}

/*****************************************************
4: Captcha
******************************************************/

/*Refresh captcha icon background*/
.quform-theme-custom-custom .quform-captcha-inner {
	margin-top: 22px;
	border: 1px solid #ccc;
}

/*****************************************************
5: Element groups
******************************************************/

/*Group title & description wrap plain*/
.quform-theme-custom-custom .quform-group-style-plain > .quform-group-elements .quform-group-title-description-wrap {
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: ;
	border-top: ;
}
/*Group title plain*/
.quform-theme-custom-custom .quform-group-style-plain > .quform-group-elements .quform-group-title {
	color: ;
	padding: 5px 0 0;
}
/*Group description plain*/
.quform-theme-custom-custom .quform-group-style-plain > .quform-group-elements p.quform-group-description {
	color: ;
	padding: 0;
	font-size: ;
}
/*IE fix for negative margins used below*/
.quform-theme-custom-custom .quform-group-style-bordered > .quform-group-elements {min-width: 1px;}
/*Group title & description wrap bordered*/
.quform-theme-custom-custom .quform-group-style-bordered > .quform-group-elements .quform-group-title-description-wrap {
	margin: -10px -10px 10px -10px;
	border-bottom: ;
	background: ;
	padding-bottom: 5px;
}
/*Group title bordered*/
.quform-theme-custom-custom .quform-group-style-bordered > .quform-group-elements .quform-group-title {
	color: ;
	padding: 5px 10px 0;
	margin: 0;
}
/*Group description bordered*/
.quform-theme-custom-custom .quform-group-style-bordered > .quform-group-elements p.quform-group-description {
	color: ;
	font-size: ;
	padding: 2px 10px 0;
	margin: 0;
}
/*Bordered style group*/
.quform-theme-custom-custom .quform-group-style-bordered > .quform-group-elements {
	border: ;
	background: ;
}
.quform-theme-custom-custom .quform-group-style-bordered > .quform-group-row {
}
/*One row inside a group*/
.quform-theme-custom-custom .quform-group-style-bordered > .quform-group-elements .quform-group-row {
	border-bottom: ;
	margin-bottom: 10px;
}
.quform-theme-custom-custom .quform-group-style-plain > .quform-group-elements .quform-group-row {
	background: none;
	margin-bottom: 0;
}
.quform-theme-custom-custom .quform-group-style-bordered .quform-group-row:last-child {
	background: none;
	margin-bottom: 0;
	border-bottom: none;
}

/*****************************************************
6: Submit button and related
******************************************************/
/*Note: Submit button has 3 parts; You only need to add styles to the Span and the Em, the Button part is just a container. */
.quform-theme-custom-custom .quform-submit button {border: 1px outset #ccc;} /* optional - IE7 fix */
/*Submit button wrap*//*You might want to use float:right here. Change loading icon wrap below too*/
.quform-theme-custom-custom .quform-submit-inner {}
/*Submit button hide*/
.quform-theme-custom-custom .quform-submit button {
    /*
	border: 1px dashed #fff;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    color: #000;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
	float: left;
    padding: 0;*/
    /*background: #fff;*/
    background: transparent;
    border: none;
    padding: 0;
    margin: -10px 0 0 0;
    height: 50px;
}
/*Default*/
.quform-theme-custom-custom .quform-submit button span {
	 /*Add Left image*/
	 padding: 8px 18px;
	 font-size: 13px;
	 font-weight: 600;
	 text-transform: uppercase;
	 border-radius: 0;
	 box-shadow: none;
	 background: #fff;
	 border: 1px solid #444;
	 color: #444;
}
/*Hover*/
.quform-theme-custom-custom .quform-submit button:hover span {
	background: #444;
	border-color: #fff;
	color: #fff;
}
/*Active*/
.quform-theme-custom-custom .quform-submit button:active span {
}
/*Default*/
.quform-theme-custom-custom .quform-submit button em {
	background: transparent; /* Add Right image*/
}
/*Hover*/
.quform-theme-custom-custom .quform-submit button:hover em {
}
/*Active*/
.quform-theme-custom-custom .quform-submit button:active em {

}
/*Loading the submit*//*You will want this float:right if the button is right*/
.quform-theme-custom-custom .quform-loading-wrap {margin-top: 9px;}
.quform-theme-custom-custom .quform-button-fat .quform-loading-wrap {margin-top: 18px;}
/*Loading gif image*/
.quform-theme-custom-custom .quform-loading-wrap .quform-loading {}
/*Preset button sizes - fat*/
..quform-theme-custom-custom .quform-button-fat.quform-submit .quform-submit-inner button span {padding: 0 40px; line-height: 45px; height: 45px;}
/*Preset button sizes - full width*/
.quform-theme-custom-custom .quform-button-full-width.quform-submit .quform-submit-inner button {height: auto;}
.quform-theme-custom-custom .quform-button-full-width.quform-submit .quform-submit-inner button span {line-height: 38px; height: 38px;}

/*****************************************************
7: Messages for user
******************************************************/

/*Errors*/
.quform-theme-custom-custom .quform-errors > .quform-error {
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	text-shadow: 1px 1px 0 #f3d6d4;
}
/*File upload errors*/
.quform-theme-custom-custom .quform-queue-errors-list > .quform-queue-error {
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	text-shadow: 1px 1px 0 #f3d6d4;
}

/*Success message*/
.quform-theme-custom-custom .quform-success-message {
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	text-shadow: 1px 1px 0 #e0fdc3;
}
/*****************************************************
8: Quform PHP specific
******************************************************/
/*Light close button*/
.quform-theme-blank-new.quform-outer a.quform-cancel-button {
	background: url(images/close-light.png) no-repeat 0 0;
}

/*****************************************************
9: Responsive
******************************************************/
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1020px) {
.quform-theme-custom-custom .quform-submit button span {
		line-height: 0px;
		padding: 0 20px;
	}

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 1024px) {
	/* Make radio and checkboxes a bit easier to select on touch devices - Try using your input styles here! */
	.quform-theme-custom-custom .quform-options .quform-option {
		border: ;
		background: ;
	}
	/* Increace the button height, it's easier to press on touch screen*/
	.quform-theme-custom-custom .quform-submit button span {
		line-height: 35px;
		height: 35px;
	}
	.quform-theme-custom-custom .quform-submit.quform-button-fat button {height: auto;}
	.quform-theme-custom-custom .quform-submit.quform-button-fat button span {
		height: 45px;
		line-height: 45px;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}