<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta name="google" value="notranslate">

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/stylesheets/top_nav.css"></link>
  <link rel="stylesheet" href="/stylesheets/plans.css"></link>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/javascripts/jquery-1.11.1.min.js"></script>
  <title>Student Technology Education Monthly Plans</title>


  <script>
$(document).ready(function() {
  $('.stripe-button-el span').each(function() {
    $(this).text("Enroll now");
  });
});

window.console = window.console || function(t) {};
window.open = function(){ console.log("window.open is disabled."); };
window.print   = function(){ console.log("window.print is disabled."); };
  </script>



  </head>

  <body>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WKM358"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WKM358');</script>
    <!-- End Google Tag Manager -->

  <div id="topNav">
    <div class="wrapper">
      <strong class="more-info-label">More from <a href="http://rubymentor.io?utm_campaign=empire&utm_medium=referral&utm_source=student-plans">RubyMentor</a>:</strong>
      <ul class="more-info-links xs-hidden">
        <li class="more-info"><a href="http://codementor.io/rubymentor?utm_campaign=empire&utm_medium=referral&utm_source=student-plans" alt="Hourly Expert Ruby Mentorship">
          Get Expert Help NOW</a></li>
        <li class="more-info"><a href="http://guides.rubymentor.io?utm_campaign=empire&utm_medium=referral&utm_source=student-plans" alt="HowTo guides for ruby and ruby on rails!">
          Ruby and Ruby on Rails HOWTOS</a></li>
        <li class="more-info"><a href="http://rubylive.tv?utm_campaign=empire&utm_medium=referral&utm_source=student-plans" alt="Watch REAL Ruby get coded before your eyes!">
          Watch Ruby coded LIVE!</a></li>
      </ul>
    </div>
  </div>


    <div class="wrapper">
      <!-- PRICING-TABLE CONTAINER -->
      <div class="pricing-table group">
        <!-- PERSONAL -->
        <div class="block personal col-md-3 col-sm-1 nopad">
          <h2 class="title">Introduction</h2>
          <!-- CONTENT -->
          <div class="content">
            <p class="hint"><span>2 hours/mo.</span>1 on 1 Mentorship</p>
            <hr>
            <p class="price">
            <sup>$</sup>
            <span>149</span>
            <sub>/mo.</sub>
            </p>
          </div>
          <!-- /CONTENT -->
          <!-- FEATURES -->
          <ul class="features">
            <li class="strong">A savings of $90</li>
            <li>Code Projects and Katas</li>
            <li>A license to Vim-Adventure game</li>
            <li>Access to group sessions</li>
            <li>Email and chat support</li>
          </ul>
          <!-- /FEATURES -->
          <!-- PT-FOOTER -->
          <div class="pt-footer">
            <form action="/buy" class="two-hours-monthly-student" method="POST">
              <input type="hidden" name="plan" value="two-hours-monthly-student" />
              <script src="https://checkout.stripe.com/checkout.js"
                      class="stripe-button"
                      data-key="<%= STRIPE_PUB_KEY %>"
                      data-amount="14900"
                      data-name="RUBYMENTOR"
                      data-description="Introduction plan (149/mo)"
                      data-image="/images/rm-logo-128.png">
              </script>
            </form>
          </div>
          <!-- /PT-FOOTER -->
        </div>
        <!-- /PERSONAL -->

        <!-- PROFESSIONAL -->
        <div class="block professional col-md-3 col-sm-1 nopad">
          <h2 class="title">Accelerated</h2>
          <!-- CONTENT -->
          <div class="content">
            <p class="hint"><span>4 hours/mo.</span>1 on 1 Mentorship</p>
            <hr>
            <p class="price">
            <sup>$</sup>
            <span>299</span>
            <sub>/mo.</sub>
            </p>
          </div>
          <!-- /CONTENT -->
          <!-- FEATURES -->
          <ul class="features">
            <li class="strong">A savings of $180</li>
            <li>Code Projects and Katas</li>
            <li>A license to Vim-Adventure game</li>
            <li>Access to group sessions</li>
            <li>Email and chat support</li>
          </ul>
          <!-- /FEATURES -->
          <!-- PT-FOOTER -->
          <div class="pt-footer">
            <form action="/buy" class="four-hours-monthly-student" method="POST">
              <input type="hidden" name="plan" value="four-hours-monthly-student" />
              <script src="https://checkout.stripe.com/checkout.js"
                      class="stripe-button"
                      data-key="<%= STRIPE_PUB_KEY %>"
                      data-amount="29900"
                      data-name="RUBYMENTOR"
                      data-description="Accelerated plan (299/mo)"
                      data-image="/images/rm-logo-128.png">
              </script>
            </form>
          </div>
          <!-- /PT-FOOTER -->
        </div>
        <!-- /PROFESSIONAL -->

        <!-- BUSINESS -->
        <div class="block business col-md-3 col-sm-1 nopad">
          <h2 class="title">I'm Serious</h2>
          <!-- CONTENT -->
          <div class="content">
            <p class="hint"><span>8 hours/mo.</span>1 on 1 Mentorship</p>
            <hr>
            <p class="price">
            <sup>$</sup>
            <span>649</span>
            <sub>/mo.</sub>
            </p>
          </div>
          <!-- /CONTENT -->

          <!-- FEATURES -->
          <ul class="features">
            <li class="strong">A savings of $310</li>
            <li>Code Projects and Katas</li>
            <li>A license to Vim-Adventure game</li>
            <li>Access to group sessions</li>
            <li>Email and chat support</li>
          </ul>
          <!-- /FEATURES -->

          <!-- PT-FOOTER -->
          <div class="pt-footer">
            <form action="/buy" class="eight-hours-monthly-student" method="POST">
              <input type="hidden" name="plan" value="eight-hours-monthly-student" />
              <script src="https://checkout.stripe.com/checkout.js"
                      class="stripe-button"
                      data-key="<%= STRIPE_PUB_KEY %>"
                      data-amount="64900"
                      data-name="RUBY MENTOR"
                      data-description="Apprenticeship plan (649/mo)"
                      data-image="/images/rm-logo-128.png">
              </script>
            </form>
          </div>
          <!-- /PT-FOOTER -->
        </div>
        <!-- /BUSINESS -->

      </div>
      <!-- /PRICING-TABLE -->
    </div>

    <script>
if (document.location.search.match(/type=embed/gi)) {
  window.parent.postMessage("resize", "*");
}
    </script>

  </body>
</html>


